.modal {
  background: #ffffff;
  border-radius: 6px;

  div[class*='ant-modal-content'] {
    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: transparent;
    box-shadow: unset;
  }

  div[class*='ant-modal-body'] {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 24px;

  @media (min-width: 768px) {
    min-height: 600px;
  }

  &.sizeMin {
    @media (min-width: 768px) {
      min-height: 300px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 35px;

  .title {
    width: 100%;

    font-size: 22px;
    font-weight: 600;
  }
}

.buttons-container {
  display: flex;
  justify-content: flex-end;

  .buttons-group {
    display: flex;

    gap: 16px;

    button {
      width: 100%;
      flex: 1;
    }

    @media (min-width: 768px) {
      gap: 24px;
      justify-content: space-between;

      button {
        width: unset;
        flex: 1 1 150px;
      }
    }
  }
}
