.confirm-btn {
  width: fit-content;
  margin-top: auto;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-body {
  display: flex;
  flex-direction: column;

  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }

  .form-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-items-group {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;

  margin-bottom: 24px;

  &.small-margin {
    margin-bottom: 6px;
  }

  .form-item {
    flex: 1 1 240px;
    margin-bottom: 0;

    &.width-500 {
      flex: 1 1 500px;
    }

    &.width-100 {
      flex: 1 1 100px;
    }
  }

  & .create {
    & label::before {
      content: '' !important;
    }
  }

  &.column {
    flex-direction: column;
  }
}

.submit-buttons-group {
  margin-top: auto;
  display: flex;
  gap: 24px;

  &.column {
    flex-direction: column;

    gap: 16px;

    button {
      flex: 1;
      max-width: unset;
    }

    .form-item {
      flex: 1;
      max-width: unset;
    }
  }

  &.with-margin {
    margin-bottom: 36px;
  }

  @media (min-width: 768px) {
    &.column {
      flex-direction: row;

      gap: 24px;

      button {
        flex: 0;
        width: min-content;
        padding: 5px 24px;
      }

      .form-item {
        flex: 0;
        width: min-content;
        max-width: unset;
      }
    }
  }

  button {
    flex: 1 1 110px;
    max-width: 150px;
    padding: 5px 13px;
  }

  .form-item {
    flex: 1 1 110px;
    max-width: 150px;

    button {
      width: 100%;
    }

    margin-bottom: 0;
  }
}

.total-amount {
  font-size: 16px;
}

.submit-btn {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;

  @media (min-width: 768px) {
    width: fit-content;
  }

  button {
    width: 100%;
    max-width: 250px;

    @media (min-width: 768px) {
      max-width: unset;
    }
  }
}
