.info-item {
  font-size: 16px;
  color: var(--secondary);

  margin-bottom: 20px;

  span {
    font-size: 18px;
    color: #000;
  }
}

.delete-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
