.wrapper {
  .buttons-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
  }
}

.table-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
