.info-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0px;
  }

  & label {
    color: var(--primary);

    font-weight: 500;
    line-height: 16px;

    margin-bottom: 6px;
  }

  & span {
    font-size: 16px;
  }
}
